/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/test/dummy/.bundle/
/test/dummy/.yardoc
/test/dummy/_yardoc/
/test/dummy/coverage/
/test/dummy/doc/
/test/dummy/pkg/
/test/dummy/spec/reports/
/test/dummy/tmp/
/test/dummy/log/

# Left behind by the generator tests
/test/lib/generators/pg_rls/tmp_*/
